doctype html
html
  head
    meta(charset='UTF-8')
    title Slackradio
  body

    player
    pages
    flash
    audio#audioEl

    script.
      HOST = '#{host}'
    script(src= '../vendor/socket.io.js')
    script(src='../client/bridge.js')