doctype html
html
  head
    meta(charset='UTF-8')
    title Slackradio
  body

    player
    pages
    audio#audioEl

    script.
      HOST = '#{host}'
    script(src= host + '/socket.io/socket.io.js')
    script(src='../bridge/bridge.js')