doctype html
html
  head
    meta(charset='UTF-8')
    title Slackradio
  body

    player
    pages
    audio#audioEl

    script.
      HOST = '#{host}'
    script(src='../bridge/primus.js')
    script(src='../bridge/index.js')